.init-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.init-app .initial-information .title {
    letter-spacing: 2px;
}
.init-app .initial-information .description {
    max-width: 500px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 24px;
}
.initial-information {
    text-align: center;
    max-width: 600px;
    line-height: 32px;
}
.initial-actions {
    display: flex;
    gap: 20px;
    background-color: #120d28;
    padding: 10px;
    border-radius: 28px;
    border: 1px solid #26203f;
    /* box-shadow: 0 0 10px 0 rgba(37, 0, 204, 0.5); */
}

.initial-actions button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.initial-actions button:hover {
    background-color: #26203f;
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 0 10px 0 rgba(37, 0, 204, 0.5);
}
.initial-actions a {
    border-radius: 14px;
}
.initial-actions a.active {
    background-color: #3211d4;
}