.principal-container {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px #251c4f;
}
.uploaded-file {
    border: 2px dashed #282248;
    width: 100%;
    border-radius: 12px;
}
.uploaded-file.dragover {
    border-color: #fff;
}
.uploaded-file .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
.uploaded-file .info .icon-upload {
    background-color: #131022;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: icon-upload-animation 3s infinite;
}

@keyframes icon-upload-animation {
    0% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(-4px);
    }
}
.uploaded-file .info .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    & p {
        color: rgba(255, 255, 255, 0.4);
    }
}
.uploaded-file .info button {
    cursor: pointer;
    background-color: #131022;
    color: #fff;
    outline: none;
    padding: 12px 32px;
    border: 1px solid #393353;
    border-radius: 18px;
    transition: all .25s ease;
}
.uploaded-file .info button:hover {
    background-color: #231e3f;
    transform: scale(1.1);
}