.principal-container-output {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.info-file-to-encode {
    display: flex;
    align-items: center;
    gap: 12px
}
.info-file-to-encode .status-encode {
    font-size: 14px;
}
.info-file-to-encode .name-file {
    font-size: 12px;
    background-color: #2e2655;
    padding: 2px 12px;
    border-radius: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.container-output {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    border-radius: 16px;
    background-color: #0d0b14;
}
.header-output {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #19171f;
    width: 100%;
    padding: 16px;
    border-radius: 16px 16px 0px 0px;
    gap: 12px;
}
.header-output .container-left {
    display: flex;
    align-items: center;
}
.container-left .name-file-output {
    margin-left: 12px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.container-right {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-right button {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    padding: 6px;
    border-radius: 10px;
    border: none;
    outline: none;
    gap: 8px;
    transition: all .25s ease;
}

/* @media (max-width: 768px) {
    .container-right button {
        flex-direction: column;
    }
} */

.container-right button.copy-btn {
    background-color: #3211d4;
}
.container-right button.copy-btn:hover {
    background-color: #472dc9;
    transform: scale(1.1);
}
.container-right button.download-btn {
    background-color: #25232a;
}
.container-right button.download-btn:hover {
    background-color: #0d0d0e;
    transform: scale(1.1);
}

.content-file-encoder {
    width: 100%;
    padding: 22px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    max-height: 200px;
}

.footer-output {
    background-color: #0a0810;
    margin-top: 20px;
    padding: 14px;
    border-radius: 0px 0px 16px 16px;
    font-size: 12px;
    text-align: right;
}