* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top center, #161632 0%, #0B0B1E 100%);
  min-height: 100vh;
  color: #fff;
}